@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    
  }

